.cont{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

img{
    width: 300px;
}

.images{
    display: flex;
    flex-direction: column;
    gap: 3rem
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

button{
    background-color: yellow;
    color: blue;
}

body{
    background-image: url("./../../assets/dottedBackground.png");
}