.gridContainer{
    background-image: url("./../../assets/gridBackground.png");
    background-size: 40%;
    height: 20rem;
    width: 100%;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.shortDescription {
    color: rgba(255, 255, 255, 0.8);
    width: 50%;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 2rem;
}

.yellowText {
    color: #FFD700;
}